# Ignore Gradle project-specific cache directory
.gradle
local.properties

# Ignore Gradle build output directory
build
.kotlin

# Ignore intellij stuff
.idea
*.iws
*.iml
*.ipr
out/

### Mac OS ###
.DS_Store
**/*.xcuserstate

# other junk
example.txt

# ignore this file anywhere it may appear
**/secret.properties

# shared/resources get copied from shared dir to target-specific dirs during build
dprcmd/src/main/resources/*.json
composeApp/src/commonMain/composeResources/files/*.json
